<section class="" id="home">
    <div class="container">
        <h1>
            <span class="my-name" >Hi I'm Jean-François,</span>
            <span class="my-job"> I am a Web Developper</span>
        </h1>

        <p class="widget">
            {% include 'NightDisplayBundle:Page/Widget:draw_passionate.html.twig' %}
        </p>
    </div>
</section>