//
// Styles
// --------------------------------------------------
@color-card-passions: rgb(171, 151, 192);
@color-card-personality: rgb(165, 186, 224);
@color-card-dreams: rgb(208, 154, 198);

@easing-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);

@rotation-card-left: 3deg;
@rotation-card-right: -3deg;
@rotation-card-bottom: 6deg;

section#about-me {
   background: @color-light-bg;
   position: relative;
   overflow: hidden;

   a.card {
      display: block;
      position: relative;
      .transition(all 0.8s @easing-bezier);
      .animation-timing-function(@easing-bezier);

      &.card-left {
         &:not(.active):hover {
            .animation(cardLeftFlip 0.8s 1;)
         }
      }

      &.card-right {
         .triangle {
            .transform(translateX(100%));
            svg {
               .transform(rotate(180deg) translateX(100%));
            }
         }

         &:not(.active):hover {
            .animation(cardRightFlip 0.8s 1;)
         }
      }

      &.card-bottom {
         &:not(.active):hover {
            .animation(cardBottomFlip 0.8s 1;)
         }
      }

      .triangle {
         position: absolute;
         width: 100%;
         height: 100%;

         svg {
            fill: rgba(0, 0, 0, 0.2);
            height: 100%;
            stroke-miterlimit: 10;
            stroke-width: 7;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #FFFFFF;
         }
      }

      h2, p, span, a {
         color: white;
      }

      h2 {
         font-size: 35px;
      }

      .content {
         height: 100%;
      }

      &.passions {
         background: @color-card-passions;
         .transform(rotate(@rotation-card-left) translateX(-100%));
      }

      &.personality {
         .triangle {
            .triangle-right;
         }
         background: @color-card-personality;
         .transform(rotate(@rotation-card-right) translateX(100%) translateY(-50px));
         .transform-origin(0 0);
      }

      &.dreams {
         background: @color-card-dreams;
         position: relative;
         margin: 0 auto;
         .transform(rotate(@rotation-card-bottom) translateY(100%));
      }
   }
}

//
// Animations
// --------------------------------------------------
@card-flip-translate: 60%;
@keyframes cardLeftFlip {
   from {
      .transform(rotate(@rotation-card-left) translateX(0));
   }
   50% {
      .transform(rotate(@rotation-card-left) translateX(-@card-flip-translate));
   }
   to {
      .transform(rotate(@rotation-card-left) translateX(0));
      z-index: 50;
   }
}

@-webkit-keyframes cardLeftFlip {
   from {
      .transform(rotate(@rotation-card-left) translateX(0));
   }
   50% {
      .transform(rotate(@rotation-card-left) translateX(-@card-flip-translate));
   }
   to {
      .transform(rotate(@rotation-card-left) translateX(0));
      z-index: 50;
   }
}

@keyframes cardRightFlip {
   from {
      .transform(rotate(@rotation-card-right) translateX(0));
   }
   50% {
      .transform(rotate(@rotation-card-right) translateX(@card-flip-translate));
   }
   to {
      .transform(rotate(@rotation-card-right) translateX(0));
      z-index: 50;
   }
}

@-webkit-keyframes cardRightFlip {
   from {
      .transform(rotate(@rotation-card-right) translateX(0));
   }
   50% {
      .transform(rotate(@rotation-card-right) translateX(@card-flip-translate));
   }
   to {
      .transform(rotate(@rotation-card-right) translateX(0));
      z-index: 50;
   }
}

@keyframes cardBottomFlip {
   from {
      .transform(rotate(@rotation-card-bottom) translateY(-100px));
   }
   50% {
      .transform(rotate(@rotation-card-bottom) translateY(@card-flip-translate));
   }
   to {
      .transform(rotate(@rotation-card-bottom) translateY(-100px));
      z-index: 50;
   }
}

@-webkit-keyframes cardBottomFlip {
   from {
      .transform(rotate(@rotation-card-bottom) translateY(-100px));
   }
   50% {
      .transform(rotate(@rotation-card-bottom) translateY(@card-flip-translate));
   }
   to {
      .transform(rotate(@rotation-card-bottom) translateY(-100px));
      z-index: 50;
   }
}

// Screen dependant style
// ______

// Smartphones
section#about-me {
   .content {
      padding: 20px;
   }

   // Temp
   a.card {
      width: 90%;
      min-height: 500px;
      border: 3px solid white;

      h2 {
         font-size: 25px;
         margin: 0;
         text-align: center;
      }

      &.card-left {
         .transform(rotate(@rotation-card-left) translateX(-100%));
         z-index: 5;
      }

      &.card-right {
         z-index: 10;
         .transform(rotate(@rotation-card-right) translateX(100%) translateY(-50px));
      }

      &.card-bottom {
         z-index: 15;
         .transform(rotate(@rotation-card-bottom) translateY(100%));
      }

      &.dreams {
      }

      .triangle {
         position: absolute;
         width: 100%;
         height: 100%;

         svg {
            fill: rgba(0, 0, 0, 0.1);

            polygon {
               stroke-width: 0;
            }
         }
      }

      // Cards Animation
      &.display {
         &.card-left {
            .transform(rotate(@rotation-card-left) translateX(0));
         }
         &.card-right {
            .transform(rotate(@rotation-card-right) translateX(0));
         }
         &.card-bottom {
            .transform(rotate(@rotation-card-bottom) translateY(-100px));
         }
      }
   }
}

// Smartphone - Landscape / Phablets
@media screen and (min-width: 480px) {

}

// Tablets
@media screen and (min-width: 640px) and (min-height: 520px) {

}

// PC Screens
@media screen and (min-width: 1100px) {
   section#about-me {
      height: 900px;

      h1 {
         margin-bottom: 50px;
      }

      a.card {
         display: block;
         border: 7px solid white;
         position: relative;
         width: 680px;
         .transition(all 0.8s @easing-bezier);
         .animation-timing-function(@easing-bezier);

         &.previousActive {
            z-index: 40 !important;
         }
         &.active {
            z-index: 50 !important;
         }

         &.card-left {
            .content {
               padding: 40px 40px 0 180px;
            }
         }

         &.card-right {
            left: 50%;
            .content {
               padding: 40px 180px 0 40px;
            }
         }

         &.card-bottom {
            .content {
               padding: 40px 40px 0 180px;
            }
            top: 400px;
         }

         &.card-left, &.card-right {
            position: absolute;
            vertical-align: top;
         }

         svg {
            fill: rgba(0, 0, 0, 0.1);

            polygon {
               stroke-width: 7px;
            }
         }
      }
   }
}