//
// General
// --------------------------------------------------
html, body{ width: 100%; height: 100%; }

h1, h2, h3, h4, h5, h6, div, p, a, strong, span, ul, li {
    font-family: @font-family-text;
}

h1 {text-transform: uppercase; font-size: 55px; font-family: @font-family-title; font-weight: bold; }

h2 {text-transform: uppercase; font-family: @font-family-text; }

ul { margin: 0;  padding: 0; }

li, a {text-decoration: none; }

div, p, span, strong, a, li {
    font-size: 14px;
    color: @color-dark-text;
}


//
// Layout
// --------------------------------------------------
#page-main {
    background: @color-grey;
    height: 100%;
}

#tools-link {
    position: fixed;
}

#main {
    height: 100%;
}

.page {
   overflow: hidden;
}

//
// Icons
// --------------------------------------------------
.y-con {
    width: 40px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    display: inline-block;
}

.y-home { background-image: url('@{path-images}icons/i-house.svg'); }
.y-star { background-image: url('@{path-images}icons/i-star.svg'); }
.y-code { background-image: url('@{path-images}icons/i-code.svg'); }
.y-nice-face{ background-image: url('@{path-images}icons/i-nice-face.svg'); }
.y-phone-oldschool{ background-image: url('@{path-images}icons/i-phone-oldschool.svg'); }


//
// Special classes
// --------------------------------------------------
.hide {
   &#page-main, &#page-annex {
      display: none !important;
   }
}
