@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "origin";
    src: url("@{path-fonts}origin/Origin-Regular.ttf");
}
@font-face {
    font-family: "origin";
    src: url("@{path-fonts}origin/Origin-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "monoglyceride";
    src: url("@{path-fonts}monoglyceride/monodb_.ttf");
}
@font-face {
    font-family: "monoglyceride";
    src: url("@{path-fonts}monoglyceride/monogb__.ttf");
    font-weight: bold;
}
