@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "origin";
    src: url("/components/fonts/origin/Origin-Regular.ttf");
}
@font-face {
    font-family: "origin";
    src: url("/components/fonts/origin/Origin-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "monoglyceride";
    src: url("/components/fonts/monoglyceride/mono.ttf");
}
@font-face {
    font-family: "monoglyceride";
    src: url("/components/fonts/monoglyceride/mono_b.ttf");
    font-weight: bold;
}
