
//
// Project list
// --------------------------------------------------
@height-project-wrapper: 350px;

section#projects{
    background: @color-dark-bg;

    h1 {color: @color-light-bg; }

    .wrapper {
        .display-flex;
        .flex-flow(row wrap);
        justify-content: space-around;
        margin: 60px 0;

        > a {
            position: relative;
            text-align: center;
            border: 7px solid rgba(255,255,255,0.3);
            border-radius: 10px;
            cursor: pointer;

            img.thumb {
                opacity: 0.7;
                vertical-align: middle;
                width: 100%;
            }

            figure, svg.bg-1, figcaption {
                width: 100%;
                height: 100%;
            }

            svg.bg-1 {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                .transition(all 0.4s);
                .transform(scale(1.5) translateX(-33%) translateY(-33%));

                ellipse {
                    fill: rgba(255, 255, 255);
                    opacity: 0.15;
                    .transition(all 0.3s);
                }
            }


            figure {
                position: relative;
                margin: 0;

                svg.bg-caption {
                    position: absolute;
                    top: -1px; /* fixes rendering issue in FF */
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;

                    path {
                        fill: white;
                    }
                }

                figcaption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    z-index: 5;

                    h2, p, button {
                        font-family: @font-family-title;
                        margin: 0;
                        background: white;
                        text-align: center;
                        width: 100%;
                    }

                    h2 {
                        height: 30px;
                        line-height: 30px;
                        z-index: 5;
                    }

                    p {
                        height: 25px;
                        line-height: 20px;
                        z-index: 1;
                        opacity: 0;
                        .transition(all 0.3s);
                    }

                    button {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 30px;
                        .transition(all 0.3s);
                        .transform(translateY(100%));
                    }
                }
            }


            &:hover {
                svg.bg-1 ellipse{
                    opacity: 0.4;
                }

                img.thumb {
                    opacity: 1;
                }

                figcaption {
                    button {
                        .transform(translateY(0));
                    }

                    p {
                        opacity: 1;
                    }
                }
            }
        }

    }
}

//
// Project show
// --------------------------------------------------

section.project {
   background: @color-dark-bg;
   overflow: hidden;

    .container {
        background: rgba(255,255,255,0.2);
        border-radius: 20px;

        .content {
            padding: 40px;

            .controls {
                position: absolute;

                .bt-control {
                    cursor: pointer;
                    display: inline-block;

                    svg {
                        width: 100%;
                        height: 100%;

                        path {fill: #FFFFFF; }
                    }

                    &.disabled {
                        svg {
                            path { fill: rgba(255, 255, 255, 0.5); }
                        }
                    }
                    &:not(.disabled):hover {
                        .animation(rotate360 3s infinite);
                    }
                }

                #next-project {
                    svg {.transform(rotate(180deg));}
                }
            }

            h1 {margin-top: 0;}

            h2 {font-family: @font-family-title; font-size: 26px; }

            h1, h2, p, span, a {
                color: white;
            }

            p, span, a {
                font-size: 14px;
            }

            ul.language-list {

                li, svg {
                    width: 50px;
                    height: 50px;
                }

                li {
                    display: inline-block;
                    margin-right: 20px;

                    svg {
                        path {
                            fill: white;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate360{
    from { .transform(rotate(0)); }
    20% { .transform(rotate(360deg));}
    90% { .transform(rotate(360deg));}
    95% { .transform(rotate(340deg));}
    to { .transform(rotate(360deg)); }
}

@-webkit-keyframes rotate360 {
    from { .transform(rotate(0)); }
    20% { .transform(rotate(360deg));}
    90% { .transform(rotate(360deg));}
    95% { .transform(rotate(340deg));}
    to { .transform(rotate(360deg)); }
}



// Screen dependant style
// ______

// Smartphones
section#projects{
    .wrapper {
        > a {
            width: 165px;
            margin-bottom: 20px;
            figure figcaption h2 {
                font-size: 17px;
            }
        }
    }
}

section.project {
    padding: 0;
    height: auto;

    .container {
        .content {
            padding: 65px 15px 15px 15px;

            h1 { margin-bottom: 15px;}

            .controls {
                top: 0;
                right: 5px;

                .bt-control {
                    width: 70px;
                    height: 70px;
                }
            }

            .picture {

                img {
                    width: 100%;
                    border: 3px solid rgba(255, 255, 255, 0.8);
                    border-radius: 3px;
                }
            }
        }
    }
}

// Smartphone - Landscape / Phablets
@media screen and (min-width: 480px) {
    section#projects{
        .wrapper {
            > a {
                width: 165px;
            }
        }
    }

}

// Tablets
@media screen and (min-width: 640px) {
    section#projects{
        .wrapper {
            > a {
                width: 240px;
                margin-bottom: 30px;
                figure figcaption h2 {font-size: 21px; }
            }
        }
    }

    section.project {
        padding: 30px 0 30px 0;

        .container {
            .content {
                padding: 40px;

                .controls {
                    top: 45px;
                    right: 25px;
                }

                .picture {
                    float: left;
                    width: 60%;

                    img {
                        border: 7px solid rgba(255, 255, 255, 0.8);
                        border-radius: 7px;
                    }
                }

                .goals {
                    float: right;
                    width: 35%;
                }

                .technologies, .technical-points {
                    padding-top: 30px;
                    clear: both;
                }
            }
        }
    }
}

// PC Screens
@media screen and (min-width: 1100px) {
    section#projects{
        .wrapper {
            > a {
                width: 330px;
                margin-bottom: 40px;
            }
        }
    }

    section.project {
        .container {
            .content {

                .goals, .technologies {
                    float: right;
                    clear: none;
                    width: 35%;
                }

                .technical-points {
                    padding-top: 30px;
                    clear: both;
                }
            }
        }
    }
}