//
// Fonts
// --------------------------------------------------

@font-family-main: "origin";
@font-family-text: "Sans serif"; // Open Sans
@font-family-title: "monoglyceride";

//
// Colors
// --------------------------------------------------
@color-dark-text: black;
@color-dark-bg: rgb(19, 15, 39); // rgb(19, 15, 39);
@color-light-bg: white;
@color-notice: rgb(27, 117, 167);
@color-grey: rgb(147, 149, 152);

//
// Path
// --------------------------------------------------
@path-images: '/bundles/nightdisplay/images/';