{% trans_default_domain "layout" %}

<section id="about-me" class="page">
    <div class="container fluid">

        <h1>About me</h1>

        <a class="card card-left passions active">
            <div class="triangle">
                {{ includeAsset('/bundles/nightdisplay/images/triangle_right.svg') | raw }}
            </div>
            <div class="content">
                <h2>Ma personnalité</h2>
                <p>
                    En ce qui concerne mes qualités, je me vois comme quelqu’un de <b>calme et réfléchi, motivé et investi</b>
                    dans tous les projets que j'entreprends. De <b>nature curieuse</b>, j’apprécie les activités riches en enseignements.
                    Quant à mes défauts... je ne préfère pas tout dévoiler en ligne sous les yeux de tous!
                </p>
            </div>
        </a>

        <a class="card card-right personality">
            <div class="triangle">
                {{ includeAsset('/bundles/nightdisplay/images/triangle_right.svg') | raw }}
            </div>
            <div class="content">
                <h2>Mon savoir-faire</h2>
                <p>
                    Au cours mon parcours professionnel, j'ai pu travailler dans des sociétés et projets divers et variés.
                    Mon expérience en start up m'a permis d'acquérir une polyvalence front/back. Tandis que celle dans des grandes sociétés
                    ont développé mes capacités du travail en équipe ainsi que le souci de créer du code de qualité. 
                </p>
            </div>
        </a>

        <a class="card card-bottom dreams">
            <div class="triangle">
                {{ includeAsset('/bundles/nightdisplay/images/triangle_right.svg') | raw }}
            </div>
            <div class="content">
                <h2>Mes passions</h2>
                <p>
                    J’aime me dépenser dans <b>toute sorte de sport</b>, mais je n'ai plus l'occasion de pratiquer tout ce que je souhaite.
                    Mes sports du moment sont <b>le football, roller</b> et <b>natation</b>.
                    Mes autres passions sont <b>les jeux vidéos, les séries TV, la culture japonaise</b> et bien sûr <b>l’informatique</b> !
                </p>
            </div>
        </a>
    </div>

</section>

<script>
    // Cart events
    $(document).ready(function(){

        function setPreviousActiveCard(event) {
            if ($('#about-me .card.active').length != 0) {
                $('#about-me .card.previousActive').removeClass('previousActive');
            }
            $('#about-me .card.active').removeClass('active').addClass('previousActive');
        }

        function setActiveCard(event) {
            $(event.target).removeClass('previousActive').addClass('active');
        }

        // Animation start
        $('#about-me').on('animationstart', '.card:not(".active")', setPreviousActiveCard);
        $('#about-me').on('MSAnimationStart', '.card:not(".active")', setPreviousActiveCard);
        $('#about-me').on('webkitAnimationStart', '.card:not(".active")', setPreviousActiveCard);

        // Animation End
        $('#about-me').on('animationend', '.card:not(".active")', setActiveCard);
        $('#about-me').on('webkitAnimationEnd', '.card:not(".active")', setActiveCard);
        $('#about-me').on('MSAnimationEnd', '.card:not(".active")', setActiveCard);
    });
</script>