<section id="contact" class="page">
    <div class="wave wave-top">
        {{ includeAsset('/bundles/nightdisplay/images/wave_filled.svg') |raw }}
    </div>

    <div class="container fluid">

        <h1>Contact</h1>

        <div class="wrapper-card">
            <div class="vcard">
                <span class="separator separator-top"></span>
                <div class="info">
                    <span class="icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16.621 19.738"
                             enable-background="new 0 0 16.621 19.738" xml:space="preserve">
                        <path fill="#FFFFFF" d="M16.621,19.738h-2c0-3.374-2.83-6.118-6.311-6.118S2,16.365,2,19.738H0c0-4.478,3.729-8.118,8.311-8.118
                            C12.893,11.62,16.621,15.26,16.621,19.738z"/>
                            <path fill="#FFFFFF" d="M8.311,10.97c-3.023,0-5.484-2.462-5.484-5.485C2.827,2.461,5.287,0,8.311,0c3.025,0,5.486,2.46,5.486,5.485
                            C13.797,8.51,11.336,10.97,8.311,10.97z M8.311,2C6.389,2,4.826,3.563,4.826,5.485S6.389,8.97,8.311,8.97
                            c1.923,0,3.486-1.563,3.486-3.485S10.232,2,8.311,2z"/>
                        </svg>
                    </span>
                    <span class="fn">LAI Jean-François</span>
                </div>
                <div class="info">
                    <span class="icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 38.8 26.1" enable-background="new 0 0 38.8 26.1" xml:space="preserve">
                            <path fill="#FFFFFF" d="M0,0v26.1h38.8V0H0z M19.4,16.7l4.9-3.3l10.3,9.9H4.2l10.3-9.9L19.4,16.7z M19.4,12L7.1,3.8h24.7L19.4,12z
                                 M13.1,12.5L2.9,22.3V5.8L13.1,12.5z M35.9,22.3l-10.1-9.8l10.1-6.7V22.3z"/>
                        </svg>
                    </span>
                    <a class="vcard-info email">jfrancois.lai[at]gmail[dot]com</a>
                </div>
                <div class="info">
                    <span class="icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px"
                             y="0px"
                             viewBox="0 0 28 47.2" enable-background="new 0 0 28 47.2" xml:space="preserve">
                        <path fill="#FFFFFF" d="M20.6,5.9H9.2l0-3.3C9.2,1.2,8,0,6.6,0C5.2,0,4,1.2,4,2.6l0,4.1C1.6,8,0,10.4,0,13.3V27
                            c0,4.1,0.7,10.2,1.5,13.7c0.8,3.5,4.8,6.4,8.8,6.4h7.4c4.1,0,8-2.9,8.8-6.6C27.3,37,28,30.7,28,26.7V13.3C28,9.2,24.7,5.9,20.6,5.9z
                             M14,41.5c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9c1.6,0,2.9,1.3,2.9,2.9C16.9,40.2,15.6,41.5,14,41.5z M23.1,22.9
                            c0,0.8-0.7,1.5-1.5,1.5H6.4c-0.8,0-1.5-0.7-1.5-1.5v-9.2c0-0.8,0.7-1.5,1.5-1.5h15.2c0.8,0,1.5,0.7,1.5,1.5V22.9z"/>
                        </svg>
                    </span>
                    <span class="vcard-info tel">06 49 65 58 04</span>
                </div>
                <div class="info">
                    <span class="icon">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 57 47.7" enable-background="new 0 0 57 47.7" xml:space="preserve">
                            <path fill="#FFFFFF" d="M52,44.1c-15.7,0-31.3,0-47,0l8.1-24.4c0.1-0.3,0.2-0.5,0.6-0.5c2,0,4,0,6,0c0.4,0,0.7,0,1.2,0
                                c-0.6-1.1-1.1-2.1-1.6-3.1c-0.2-0.3-0.4-0.4-0.7-0.4c-2.5,0-4.9,0-7.4,0c-0.4,0-0.6,0.1-0.7,0.5c-2.9,8.8-5.9,17.6-8.8,26.4
                                c-0.5,1.6-1.1,3.3-1.7,4.9c0,0.1,0,0.1,0,0.2c19,0,38,0,57,0c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.2-0.1-0.2c-0.6-1.9-1.3-3.8-1.9-5.7
                                c-2.8-8.5-5.6-16.9-8.5-25.4c-0.1-0.4-0.3-0.5-0.7-0.5c-2.5,0-5,0-7.5,0c-0.3,0-0.5,0.1-0.6,0.4c-0.4,0.8-0.8,1.5-1.2,2.3
                                c-0.1,0.3-0.3,0.6-0.4,0.9c2.4,0,4.8,0,7.1,0c0.4,0,0.5,0.1,0.6,0.5L52,44.1z"/>
                                <path fill="#FFFFFF" d="M46.4,32C46.4,32,46.4,32,46.4,32"/>
                                <path fill="#FFFFFF" d="M28.5,28.6c-0.5-1-1-2-1.5-2.9c-2.1-4.2-4.3-8.4-6.4-12.6c-2.7-5.3,0.2-11.5,6-12.8C32-1,36.6,2.7,37.3,7.4
            c0.4,2.3-0.2,4.3-1.2,6.4c-2.5,4.7-4.9,9.5-7.3,14.3C28.7,28.2,28.6,28.3,28.5,28.6z M33.9,9c0-2.9-2.3-5.3-5.3-5.4
            c-3,0-5.4,2.4-5.4,5.3c0,2.9,2.4,5.3,5.3,5.3C31.4,14.3,33.8,11.9,33.9,9z"/>
                                <g>
                                    <g>
                                        <path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10"
                                              d="M4.8,35.5c0,0,0.7,0.2,1.9,0.5"/>
                                        <path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10"
                                              stroke-dasharray="3.8075,3.8075" d="M10.5,36.8
                    c5,0.8,12.3,1.1,17.6-2.5c7.8-3.5,5.1-4.4,17.2-2.2"/>
                                        <path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10"
                                              d="M47.1,32.4c0.6,0.1,1.3,0.2,2,0.4"/>
                                    </g>
                                </g>
                            </svg>

                    </span>

                    <div class="adr">
                        <span class="locality">Paris</span>,
                        <span class="country-name">France</span>
                    </div>
                    <span class="separator separator-bottom"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="wave wave-bottom">
        {{ includeAsset('/bundles/nightdisplay/images/wave_filled.svg') |raw }}
    </div>
</section>

<script>

</script>