<section id="contact" class="page">
    <div class="wave wave-top">
        {{ includeAsset('/bundles/nightdisplay/images/wave_filled.svg') |raw }}
    </div>

    <div class="container fluid">

        <h1>Contact</h1>

        <div class="wrapper-card">
            <div class="vcard">
                <span class="separator separator-top">
                    {{ includeAsset('/bundles/nightdisplay/images/wave_line.svg') |raw }}
                </span>

                <div class="info">
                    <span class="si-icon si-icon-user" data-icon-name="user"></span>
                    <span class="fn">LAI Jean-François</span>
                </div>
                <div class="info">
                    <span class="si-icon si-icon-mail" data-icon-name="mail"></span>
                    <a class="vcard-info email">jfrancois.lai(A)gmail[.]com</a>
                </div>
                <div class="info">
                    <span class="si-icon si-icon-smartphone" data-icon-name="smartphone"></span>
                    <span class="vcard-info tel">06 49 65 58 04</span>
                </div>
                <div class="info">
                    <span class="si-icon si-icon-map" data-icon-name="map"></span>

                    <div class="adr">
                        <span class="vcard-info locality">Paris</span>,
                        <span class="vcard-info country-name">France</span>
                    </div>
                    <span class="separator separator-bottom">
                        {{ includeAsset('/bundles/nightdisplay/images/wave_line.svg') |raw }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="wave wave-bottom">
        {{ includeAsset('/bundles/nightdisplay/images/wave_filled.svg') |raw }}
    </div>
</section>

<script>

    new svgIcon( document.querySelector( '.si-icon-user' ), svgIconConfig, {size: { w: null, h: null }} );
    new svgIcon( document.querySelector( '.si-icon-mail' ), svgIconConfig, {size: { w: null, h: null }} );
    new svgIcon( document.querySelector( '.si-icon-smartphone' ), svgIconConfig, { size: { w: null, h: null }, easing : mina.backin, speed: 600 } );
    new svgIcon( document.querySelector( '.si-icon-map' ), svgIconConfig, { size: { w: null, h: null }, easing : mina.backin, speed: 600 } );


    $(document).ready(function () {

        var loadDuration = '1s';

        var pathsDraw = [];
        pathsDraw['separator-top'] = $('#contact .separator-top svg').svgPathDraw({
            items: [{cssSelector: 'path', duration: loadDuration}]
        });
        pathsDraw['separator-bot'] = $('#contact .separator-bottom svg').svgPathDraw({
            items: [{cssSelector: 'path', duration: loadDuration, delay: "0.6s"}]
        });

        var loaders = [];
        var loaderPathOptions1 = {items: [{cssSelector: 'path', duration: loadDuration}]};
        var loaderPathOptions2 = {items: [{cssSelector: 'path', duration: loadDuration, delay: "0.2s"}]};
        var loaderPathOptions3 = {items: [{cssSelector: 'path', duration: loadDuration, delay: "0.4s"}]};
        var loaderPathOptions4 = {items: [{cssSelector: 'path', duration: loadDuration, delay: "0.6s"}]};

        loaders['fn'] = new svgDrawLoader({itemSelector: '.vcard .fn', svgPathDrawOptions: loaderPathOptions1}, true);
        loaders['email'] = new svgDrawLoader({itemSelector: '.vcard .email', svgPathDrawOptions: loaderPathOptions2}, true);
        loaders['tel'] = new svgDrawLoader({itemSelector: '.vcard .tel', svgPathDrawOptions: loaderPathOptions3}, true);
        loaders['adr'] = new svgDrawLoader({itemSelector: '.vcard .adr', svgPathDrawOptions: loaderPathOptions4}, true);
        loaders['icon-user'] = new svgDrawLoader({itemSelector: '.vcard .si-icon-user svg', svgPathDrawOptions: loaderPathOptions1}, true);
        loaders['icon-mail'] = new svgDrawLoader({itemSelector: '.vcard .si-icon-mail svg', svgPathDrawOptions: loaderPathOptions2}, true);
        loaders['icon-phone'] = new svgDrawLoader({itemSelector: '.vcard .si-icon-smartphone svg', svgPathDrawOptions: loaderPathOptions3}, true);
        loaders['icon-map'] = new svgDrawLoader({itemSelector: '.vcard .si-icon-map svg', svgPathDrawOptions: loaderPathOptions4}, true);

        var wpContext = '.st-content';

        var offset = Night.isMobile() ? "0" : "25%";

        // ====== Waypoints
        $('section#contact').waypoint(function (direction) {
            if (direction == 'down') {
                // Loading animations
                for (var key in loaders) {
                    loaders[key].show();
                }
                for (var key in pathsDraw) {
                    pathsDraw[key].svgPathDraw('draw');
                }
            } else {
                // Reset animations
                for (var key in loaders) {
                    loaders[key].reset();
                }
                for (var key in pathsDraw) {
                    pathsDraw[key].svgPathDraw('clear');
                }
            }
        }, {context: wpContext, offset: offset});

        // ====== Icons animation click
//        var icons = [].slice.apply(document.querySelectorAll('#contact .icon svg'));
//        icons.forEach(function(el) {
//            el.addEventListener('click', function() {
//                classie.removeClass(this, 'animated');
//                setTimeout(function(){classie.addClass(el, 'animated', 0)});
//            })
//        });

    });
</script>