<section id="contact" class="page">
    <div class="container fluid">

        <h1>Contact</h1>

        <div class="vcard">
            <span class="fn">Jean-Francois Lai</span>
            <a class="email">jfrancois.lai[at]gmail[dot]com</a>
            <span class="tel">06 49 65 58 04</span>
            <span class="adr">
                <span class="locality">Paris</span>,
                <span class="country">France</span>
            </span>
        </div>
    </div>

</section>
