<section id="projects" class="page">
    <div class="container fluid">
        <h1>Projects</h1>

        <div class="wrapper svg-hover-wrapper">

            {% for project in projects %}

                <a class="project">
                    <svg class="bg-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 213.9 151.9" enable-background="new 0 0 213.9 151.9" xml:space="preserve">
                        <ellipse cx="106.9" cy="76" rx="106.9" ry="76"/>
                    </svg>

                    <figure>
                        {% set image = util_image.getOrderedImages(project)|first %}

                        <img class="thumb" src="{{ image.path }}" alt="CIW JS" title="CIW - Javascript Specialist" />

                        <svg class="bg-caption" viewBox="0 0 180 320" preserveAspectRatio="none" data-path-to="m 0,0 0,90 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" >
                            <path d="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z"/>
                        </svg>

                        <figcaption>
                            <h2>{{ project.title }}</h2>
                            <p> {{ project.shortDescription }} </p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>

            {% endfor %}

        </div>
    </div>
</section>

<script>
    var hoverEffects = new SVGHoverEffect({}, true);
</script>